{% extends 'layout.html' %} {% block body %}

<form action'' method="post">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1"class="form-label">Full Name</label>
    <input value='{{ user.fullname }}'  name='fullName' type="text" class="form-control" id="exampleInputEmail1" />
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input disabled value='{{ user.username }}' name='username' type="text" class="form-control" id=""
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name='email'
    disabled value='{{ user.email }}'
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name='password' type="password" class="form-control" id="exampleInputPassword1" />
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}
